<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
    <div class="image_line"><%= image_tag product.image_url %></div>
    <h3><%= product.title %></h3>
    <p class="description_line">
      <%= sanitize product.description %>
    </p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
    </div>
  </div>
<% end %>
